= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
- if session[:job_offer_index_path]
  = content_for :back_path, session[:job_offer_index_path]
  = content_for :back_name, 'Offers'
= content_for :subnav do
  = render current_user.try(:is_a?, Client) ? 'job_offers/client/nav' : 'job_offers/designer/nav', job_offer: @job_offer

= content_for :evaluation_hint do
  %span Speak freely, only Folyo crew will be able to read this evaluation.

- if @reply
  %h2 How did it go?
  = simple_form_for @reply, url: offer_evaluations_path(@job_offer, reply_id: @reply.id) do |f|
    = f.input :evaluation, :as => :text, :hint => yield(:evaluation_hint), :wrapper_html => {:class => 'markdown'}, label: raw("Please leave a short evaluation to let us know if you enjoyed working with #{link_to @designer.full_name, @designer}.")
    %hr
    = simple_fields_for @folyo_evaluation do |f_e|
      = f_e.input :evaluation, :as => :text, :wrapper_html => {:class => 'markdown'}, label: "What did you think of Folyo? Do you have any comments to help us improve the service?"
    = f.submit "Submit Evaluation", :class => "button big-button"

- else
  %p
    It seems you didn't pick a designer, it still time
    = link_to 'to tell us which designer you worked with.', show_archive_offer_path(@job_offer)
  %p If you couldn't find a suitable designer through Folyo, please get in touch with us at <a href="mailto:hello@folyo.me">hello@folyo.me</a> to get a refund.
