= content_for :title, "Get in Touch"

.get-in-touch
  %h2 Get in touch with #{link_to @to_user.full_name, @to_user}
  %form
  = form_for @message, url: designer_messages_path(@to_user) do |f|
    .text
      = f.label :comment, "Your Message"
      = f.text_area :comment
    %button.button.clearfix.submit-reply Send your message