= content_for :title, '[Admin]Browse Clients'

.block
	- @clients.each do |client|
		.client
			%h3= link_to client.company_name, edit_client_path(client)
			%h4= client.full_name
			%p= client.email
			%ul
				- client.job_offers.ordered_by_status.each do |job|
					%li
						%span{:class => "status #{job.status.to_s}"}= job.status.to_s.humanize
						= link_to job.title, offer_path(job)
						- if job.paid?
							%span.num-replies= "#{job.designer_replies.count} Replies"

	= paginate @clients