= content_for :view_online, offer_url(@job_offer)

%table.job-offer.block
  %tr
    %td
      %h3.job-offer-title
        =link_to @job_offer.title, offer_url(@job_offer)
      %p.company-name
        - if @job_offer.company_url
          = link_to @job_offer.company_name, @job_offer.company_url
        - else
          = @job_offer.company_name

.job-offer-triangle
  = image_tag mail_asset_url('email-triangle.png'), height: 10, width: 50

.job-offer-content
  .designer-message.block
    = auto_link(@job_offer.project_summary)

  .job-offer-actions.block
    %table
      %tr
        %td.view-job-offer
          = mail_button(offer_url(@job_offer), 'Read more ...', background_color: '#D1E5F1', color: '#4e9ec4', border: 'none')

  %ul.job-offer-details
    %li.skills
      %h3 Categories
      %ul.skills-list
        - @job_offer.skills.each do |s|
          %li{class:s.to_s.dasherize.downcase}= symbol_humanize(s)

    %li.budget
      %h3 Budget
      %p
        - if @job_offer.budget_range
          %span= @job_offer.budget_range
        - if @job_offer.budget_type
          %span.budget-type (<strong>#{@job_offer.budget_type.to_s.humanize}</strong>)

.note
  You are receiving this email because of
  = link_to 'your notification preferences.', account_url
