= content_for :title, "Add A New Project"
= content_for :subnav do
  = render :partial => '/designers/account_nav'

.designer-project
  .block
    %p Add a new project to your portfolio.

  = simple_form_for [@designer, @designer_project], url: designer_project_path(@designer, @designer_project) do |f|
    = f.input :name, label: 'Project Name'
    = f.input :description, label: 'Project Description', as: :limited_text, wrapper_html: {class: 'markdown'}
    = f.input :skills, as: :check_boxes, collection: Designer.skills, label: 'Skills Involved', label_method: sym_label_method, value_method: :to_sym
    = f.submit value: 'Save Project', class: 'button big-button'

  .artworks{data: {url: designer_project_artworks_path(@designer, @designer_project)}}

    - if @artwork
      - if @artwork.processed?
        = render 'artworks', project: @designer_project, artwork: @artwork
      - else
        .spinner{data: {'polling-path' => upload_status_designer_project_path(@designer, @designer_project) }}

    - else
      %label= 'Artworks (max size 2MB)'
      .upload-placeholder
        = s3_uploader_form id: 's3-uploader', callback_url: designer_project_artworks_path(@designer, @designer_project, format: :json), callback_method: 'POST', callback_param: "designer_project_artwork[direct_upload_url]", max_file_size: 2.megabytes do
          = file_field_tag :file, multiple: false

  %script#template-upload{type: "text/x-tmpl"}
    .upload{id: "file-{%=o.unique_id%}"}
      = "{%=o.name%}"
      .progress
        .bar{style: "width: 0%"}

