= content_for :title, "Add A New Project"
= content_for :back_path, designer_projects_path(@designer)
= content_for :back_name, 'Portfolio'
= content_for :subnav do
  = render :partial => '/designers/account_nav'

= content_for :sidebar do
  .artwork
    = render 'paperclipable/upload', images_path: designer_project_artworks_path(@designer, @project), image: @artwork, image_name: 'artwork', singleton: false

= content_for :budget_hint do
  %span Explain the budgets & privacy blah
  %span Blah, blah, blah, blah, blah, blah, blah...

.designer-project

  = simple_form_for [@designer, @project], url: designer_project_path(@designer, @project), html: {id: 'main-form'} do |f|
    = f.input :name, label: 'Project Name'
    = f.input :description, label: 'Project Description', as: :limited_text, wrapper_html: {class: 'markdown'}
    = f.input :url,         label: 'Project url'
    = f.input :skills, as: :check_boxes, collection: Designer.skills, label: 'Skills Involved', label_method: sym_label_method, value_method: :to_sym

    .section
      %h3 Budget
      = f.input :budget_range,   label: 'Budget range',   as: :select, collection: DesignerProject.budget_ranges, include_blank: false, hint: yield(:budget_hint)
      = f.input :budget_privacy, label: 'Budget privacy', as: :select, collection: DesignerProject.budget_privacies, include_blank: false, label_method: sym_label_method, value_method: :to_sym

    = f.submit 'Save Project', class: 'submit button big-button'

    = link_to 'Delete project', designer_project_path(@designer, @project), method: 'DELETE', confirm: 'Are you sure you want to delete your project?', class: 'delete-project'
