= content_for :title, 'My Portfolio'
= content_for :sidebar do
  = link_to 'Add a project', new_designer_project_path(@designer), class: 'button big-button'

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render :partial => '/designers/account_nav'

.block
  %p You can add up to three projects to be displayed on your profile. 
  %h3 Your projects
  - if @designer_projects.empty?
    %p You don't have any projects yet. Start by uploading one now. 
  - else
    %ul
      - @designer_projects.each do |p|
        %li
          %h4= link_to p.name || 'Untitled', edit_designer_project_path(p.designer, p)
