= content_for :title, 'My Portfolio'
= content_for :sidebar do
  = link_to 'Add a project', new_designer_project_path(@designer), class: 'button big-button'

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render :partial => '/designers/account_nav'

%p Create as many projects as you want, and star up to 3 of them (they will be highlighted on your profile)
%h3 Your projects

- if @designer_projects.empty?
  %p You don't have any projects yet. Start by creating one now.

- else
  %ul.designer-projects

    - @designer_projects.each do |p|

      %li.project

        %h4
          = link_to edit_designer_project_path(p.designer, p) do
            %span= p.name || 'Untitled'
            %span.placeholder

        .description
          = raw(format_text(p, 'description'))

        - if p.artwork
          = image_tag p.artwork.asset(:thumbnail), class: 'artwork'
        - else
          = image_tag 'project-placeholder.png', class: 'artwork'

