= render '/designers/designer_header', designer: @designer

= content_for :sidebar do
  - if @designer.can_create_project?
    = link_to 'Add a project', new_designer_project_path(@designer), class: 'button big-button'
  - else
    = link_to 'You have already created 3 projects', '', class: 'button big-button disabled'

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render :partial => '/designers/account_nav'

%p You can add up to three projects to be displayed on your profile.
%h3 Your projects

- if @designer_projects.empty?
  %p You don't have any projects yet. Start by creating one now.

- else
  %ul.designer-projects

    - @designer_projects.each do |p|

      %li.project

        %h4
          = link_to edit_designer_project_path(p.designer, p) do
            %span= p.name || 'Untitled'
            %span.placeholder

        .description
          = raw(format_text(p, 'description'))

        - if p.artwork
          = image_tag p.artwork.asset(:thumbnail), class: 'artwork'
        - else
          = image_tag 'project-placeholder.png', class: 'artwork'

