= content_for :title, "Edit Notice"
= content_for :parent_level do
  = link_to "I'm Available", posts_path

= render :partial => "/site/wysiwyg"

.block
= simple_form_for @designer_post, url: post_path(@designer_post) do |f|
  = render 'form', f: f, edit: true, designer_post: @designer_post
  = f.submit "Update", :class => "button big-button"