= content_for :title, "Edit Notice"
= content_for :parent_level do
	= link_to "I'm Available", designer_posts_path

= render :partial => "/site/wysiwyg"

.block
= simple_form_for @designer_post, url: designer_post_path(@designer, @designer_post) do |f|
	= render :partial => "form", :locals => {:f => f, :edit => true}
	= f.submit "Update", :class => "button big-button"