= content_for :title, "I'm Available"

.block
	%h3 What's this?
	%p Instead of simply replying to job offers, you can also let the world know what kind of job you're looking for, and when you're ready to start.
	%p Hopefully your profile will catch the eye of one of the many cool companies who browse Folyo
	%p.note Each post is automatically archived after a month. If you're still looking for a job after that, simply post again!
- unless @designer_posts.empty?
	.block
		%h3 Your Previous Posts
		%ul
			- @designer_posts.each do |p|
				%li
					%h4= link_to time_ago_in_words(p.created_at)+" ago", edit_designer_post_path(@designer, p)
					.comment= p.comment.html_safe

= content_for :mainaction do
	= link_to 'Post New Notice', new_designer_post_path, :id => "new-post", :class => "button big-button"