=content_for :title, "Available Designers"
=content_for :subtitle, "Designers actively looking for new projects"
=content_for :body_class, "no-sidebar designer-posts with-subtitle"

%ul.designer-posts
	- @designer_posts.each do |dp|
		%li.designer
			- d = dp.designer
			.designer-profile
				%p.date #{time_ago_in_words(dp.created_at)} ago
				= link_to image_tag(avatar_url(d)), dp.designer, :class=>"designer-avatar"
				%h2.name= link_to d.full_name, d
				%h5.short-bio= d.short_bio
				= link_to 'Get in Touch', new_designer_message_path(d), :id => "get-in-touch", :class => "button get-in-touch"
				%ul.social-media.hidden
					%li.site= link_to d.portfolio_url, d.portfolio_url,:title => d.portfolio_url, :class => 'tooltip', :target => "_blank"
					- unless d.dribbble_username.blank?
						%li.dribbble= link_to "Dribbble", "http://www.dribbble.com/"+d.dribbble_username,:title =>'Dribbble', :class => 'tooltip', :target => "_blank"
					- unless d.twitter_username.blank?
						%li.twitter= link_to "Twitter", "http://www.twitter.com/"+d.twitter_username,:title =>'Twitter', :class => 'tooltip', :target => "_blank"
					- unless d.behance_username.blank?
						%li.behance= link_to "Behance", "http://www.behance.net/"+d.behance_username,:title =>'Behance', :class => 'tooltip', :target => "_blank"
					- unless d.zerply_username.blank?
						%li.zerply= link_to "Zerply", "http://www.zerply.com/profile/"+d.zerply_username+"/public",:title =>'Zerply', :class => 'tooltip', :target => "_blank"
			.designer-work
				.dribbble-work
					- if d.dribbble_username.blank?
						.no-dribbble Sorry, this designer does not yet have a Dribbble account.
					- else
						%p.via-dribbble via <a href="http://dribbble.com/#{d.dribbble_username}">Dribbble</a>
						%ul.dribbble-shots
							%li.shot
								%a.image{:target => "_blank", :title => d.dribbble_username}
									%img
								%p.caption
							%li.shot
								%a.image{:target => "_blank", :title => d.dribbble_username}
									%img
								%p.caption
							%li.shot
								%a.image{:target => "_blank", :title => d.dribbble_username}
									%img
								%p.caption
				.designer-post
					.excerpt.hidden
						.comment
							%strong Looking for:
							=first_words(strip_tags(dp.comment), 15).html_safe
							=link_to "Read more…", "#", :class => "read-more"
					.full
						.comment
							%strong Looking for:
							=dp.comment.html_safe
						%ul.info
							%li.date
								%span Available from:
								%strong= dp.availability_date
							%li.duration
								%span Project duration:
								%strong= dp.duration
							%li.weekly_hours
								%span Hours per week:
								%strong= dp.weekly_hours
							%li.relocate
								%span Relocation:
								%strong= dp.relocate
							%li.minimum-budget
								%span Minimum budget:
								%strong= dp.minimum_budget
							%li.job-type
								%span Freelance/full-time?
								%strong= dp.job_type
							%li.coding
								%span HTML/CSS coding:
								%strong= dp.coding
						=link_to "Hide", "#", :class => "hide"

= paginate @designer_posts