= content_for :body_class, 'budgets-page'
= content_for :title, "Budget Estimator"

= javascript_include_tag "snap.svg-min.js"
= javascript_include_tag "draggabilly.pkgd.min.js"
= javascript_include_tag "underscore-min.js"

%form.budget-form{data: { statistics: @skills_with_statistics.to_json}}

  .budget-section
    %h2.budget-section-title 1. Pick a Project

    .budget-project

      .project-settings.project-category
        .inner
          %h3.project-settings-title Category
          .project-select-category
            - @skills_with_statistics.each do |skill, skill_content|
              %label
                %input{name: "project-select-category", type: "radio", value: skill_content[:name]}/
                %span= skill_content[:name]

      .project-settings.project-type.not-visible
        .inner
          %h3.project-settings-title Project
          .project-select-type

      .project-settings.project-options.not-visible
        .inner
          %h3.project-settings-title Options
          .project-select-options



  .budget-section

    %h2.budget-section-title 2. Set a Budget

    .budget-selector

      .budget-slider

        .slider-body#heatmapArea

          %svg.slider-heatmap

          .slider-legend.slider-prices
            %ol
              %li $0
              - (1..10).each do |i|
                %li $#{2*i}k

          / .slider-legend.slider-percents
          /   %ol
          /     %li 0%
          /     %li 25%
          /     %li 50%
          /     %li 75%
          /     %li 100%

          .slider-cursor#cursor{style: 'left:40%;'}
            .cursor-tooltip.cursor-price.cursor-tooltip-up
              .inner
                .inner2
                  With a
                  %span.cursor-figure.cursor-price-value $4000
                  budget…
            .cursor-body
              .cursor-left
              .cursor-center
              .cursor-right
            .cursor-tooltip.cursor-percent.cursor-tooltip-down
              .inner
                .inner2
                  …you can reach
                  %span.cursor-figure.cursor-percent-value 50%
                  of designers.

  / .budget-section
  /   .sample-project
  /     %h4 Sample Project
  /     %h3.sample-name
  /       %a.sample-link{href: 'https://dribbble.com/shots/1569977-CoreFx-logo-design-process/attachments/241258'}
  /         CoreFx Logo
  /     %h5.sample-author
  /       %a.sample-author-link{href: 'https://dribbble.com/JulienRenvoye'}
  /         Julien Renvoye
  /     .sample-description
  /       A clean, modern logo for a tech company. Included a short research phase, a few sketches, and a couple practical applications (business cards).
  /       %a.sample-link{href: 'https://dribbble.com/shots/1569977-CoreFx-logo-design-process/attachments/241258'}
  /         Read more…
  /     .sample-image
  /       = image_tag '/assets/budgets/logo1.jpg'