= content_for :body_class, " with-subnav"
#subnav
	%ul
		%li
			= current_link_to 'Submission Pending', admin_offers_path
		%li
			= current_link_to 'Payment Pending', admin_offers_path
		%li
			= current_link_to 'To Review', admin_offers_path
		%li
			= current_link_to 'Rejected', admin_offers_path						
		%li
			= current_link_to 'Accepted', active_admin_offers_path
		%li
			= current_link_to 'Archived', archived_admin_offers_path
		%li
			= current_link_to 'Refunded', refunded_admin_offers_path
		%li
			= current_link_to 'Newsletter setup', newsletter_setup_admin_offers_path