= content_for :title, "Job Offers"
= content_for :subnav do
	= render partial: '/admin/job_offers/job_offers_nav'

- unless @job_offers.accepted.empty?
	.active
		%h3.active Accepted / Sent
		%ul.offer-list
			- @job_offers.accepted.each do |job|
				= render :partial => '/admin/job_offers/job_offer',  :locals => {:job => job}

	= paginate @job_offers
