%h1#logo
  = link_to 'Folyo', root_path, :title => 'Home'
#top-bar
  %ul
    %li= current_link_to "My Offers", offers_path
    %li= current_link_to "Available Designers", posts_path
    %li= current_link_to "All Designers", designers_path
    %li= current_link_to "My Account", edit_client_path(current_user)
    %li.sign-out= link_to_unless_current "Sign Out", destroy_user_session_path, :method => :delete, :title => "Sign Out"