- if current_user.is_a?(Client)
  = content_for :title, "My Account"
  = content_for :subnav do
    = render :partial => '/clients/account_nav'

- elsif current_user.is_a?(Admin)
  = content_for :title, "#{@client.full_name} account"
  = content_for :parent_level do
    = link_to "Clients", admin_clients_path

= content_for :company_hint do
  %span.title Things to mention:
  %span <strong>About you</strong>: what's your story? where are you based?
  %span <strong>What you do</strong>: clearly explain what you do in simple terms.
  %span <strong>Why you do it</strong>: tell us the motivations behind your project.
  %span <strong>Your users</strong>: who uses your service?
  %span.bottom For more ideas, check out our guide on <a target="_blank" href="http://www.folyo.me/guides/how_to_write_a_good_job_description">How to Write a Good Job Description</a>.

- if current_user.is_a?(Admin) && @client.is_a?(Html::Client)
  = content_for :sidebar do
    = link_to 'Convert to Markdown', to_markdown_admin_client_path(@client), class: 'button big-button', method: 'put'

= simple_form_for(@client, url: client_path(@client)) do |f|

  = content_for :error_messages do
    = error_messages(@client)

  .section
    %h3 Your Company
    = f.input :company_name
    = f.input :company_url
    = f.input :company_description, as: :text, hint: yield(:company_hint), wrapper_html: {class: textarea_type(@client)}
    = f.input :location

  = f.submit "Update Profile", :class => "button big-button"