= content_for :title, @client.full_name
= content_for :subtitle, @client.company_name
= content_for :body_class, "client-profile"

.block.client-info
  %h3 Company Info
  %p!= auto_link(@client.company_description.html_safe)
- if @client.job_offers.paid.count > 0
  .block.job-offers
    %h3 Active Job Offers
    %ul
      - @client.job_offers.paid.each do |job|
        %li
          = link_to job.title, designer_offer_path(job)

= content_for :sidebar do
  %ul.offer-details
    %li.site
      %h3 Site
      = link_to @client.company_url, @client.company_url, :title => "Site"
    %li.location
      %h3 Company Location
      %p= @client.location