= content_for :title, @client.full_name
= content_for :subtitle, @client.company_name
= content_for :body_class, "client-profile"

- if current_user.is_a?(Admin)
  = content_for :parent_level do
    = link_to "Clients", admin_clients_path

.block.client-info
  %h3 Company Info
  %p!= format_text(@client, :company_description)

- if @client.job_offers.accepted.count > 0
  .block.job-offers
    %h3 Active Job Offers
    %ul
      - @client.job_offers.accepted.each do |job|
        %li
          = link_to job.title, offer_path(job)

= content_for :sidebar do
  %ul.offer-details
    %li.site
      %h3 Site
      = link_to @client.company_url, @client.company_url, :title => "Site"
    %li.location
      %h3 Company Location
      %p= @client.location

- if current_user.is_a?(Admin)
  = render 'discount', client: @client
