= content_for :title, "My Offers"

- if @job_offers.empty?
  %p.note You don't have any job offers yet. Why not #{link_to 'submit one', new_offer_path}?
- else
  - unless @job_offers.waiting_for_submission.empty?
    .waiting_for_payment
      %h3.waiting_for_submission Not yet submited
      %ul.offer-list
        - @job_offers.waiting_for_submission.each do |job|
          %li
            %h2.title
              = link_to job.title, offer_path(job)
            %ul.controls
              %li= link_to 'View', offer_path(job)
              %li.pay= link_to 'Edit this offer', edit_offer_path(job)
  - unless @job_offers.waiting_for_payment.empty?
    .waiting_for_payment
      %h3.waiting_for_payment Unpaid
      %ul.offer-list
        - @job_offers.waiting_for_payment.each do |job|
          %li
            %h2.title
              = link_to job.title, offer_path(job)
            %ul.controls
              %li= link_to 'View', offer_path(job)
              %li= link_to 'Edit', edit_offer_path(job)
              %li.pay= link_to 'Pay for this offer', new_offer_order_path(job)

  - unless @job_offers.rejected.empty?
    .rejected
      %h3.rejected Need update
      %ul.offer-list
        - @job_offers.rejected.each do |job|
          %li
            %h2.title
              = link_to job.title, offer_path(job)
            %ul.controls
              %li= link_to 'View', offer_path(job)
              %li= link_to 'Edit', edit_offer_path(job)
              %li= link_to 'Payment info', offer_order_path(job)
              %li.pay= link_to 'Update this offer', edit_offer_path(job)

  - unless @job_offers.waiting_for_review.empty?
    .pending
      %h3.pending Waiting for review
      %ul.offer-list
        - @job_offers.waiting_for_review.each do |job|
          %li
            %h2.title
              = link_to job.title, offer_path(job)
            %ul.controls
              %li= link_to 'View', offer_path(job)
              %li= link_to 'Edit', edit_offer_path(job)
              %li= link_to 'Payment info', offer_order_path(job)

  - unless @job_offers.accepted.empty?
    .accepted
      %h3.active Active
      %ul.offer-list
        - @job_offers.accepted.each do |job|
          %li
            %h2.title
              = link_to job.title, offer_path(job)
              %span.num-replies= "#{job.designer_replies.count} Replies"
            %p.status
              %span.posted= "Posted #{time_ago_in_words(job.created_at.to_date)} ago, "
              %span.last-reply= last_reply_text_for_job_offer(job)
            %ul.controls
              %li= link_to 'View designer replies', offer_replies_path(job)
              %li= link_to 'View', offer_path(job)
              %li= link_to 'Edit', edit_offer_path(job)
              %li= link_to 'Payment info', offer_order_path(job)
              %li.archive= link_to 'Archive', show_archive_offer_path(job), title: "Archive the offer once you've picked a designer", class: 'tooltip'

  - unless @job_offers.archived.empty?
    .archived
      %h3.archived Archived
      %ul.offer-list
        - @job_offers.archived.each do |job|
          %li
            %h2.title
              = link_to job.title, offer_path(job)
              %span.num-replies= "#{job.designer_replies.count} Replies"
            %p.status
              %span.posted= "Posted #{time_ago_in_words(job.created_at.to_date)} ago, "
              %span.last-reply= last_reply_text_for_job_offer(job)
            %ul.controls
              %li= link_to 'View designer replies', offer_replies_path(job)
              %li= link_to 'View', offer_path(job)
              %li= link_to 'Edit', edit_offer_path(job)
              %li= link_to 'Payment info', offer_order_path(job)
              %li.archive= link_to 'Rate Designer', edit_offer_evaluations_path(job), :title =>"Let us know how it went!", :class => 'tooltip'

  = paginate @job_offers

= content_for :mainaction do
  = link_to 'Submit new job offer', new_offer_path, id: 'new-offer', class: 'button big-button'

= content_for :sidebar do
  .notices
    - if @job_offers.waiting_for_submission.count > 0
      .notice You have job offers waiting for submission. You need to submit them and complete the payment before they get reviewed.
    - elsif @job_offers.waiting_for_payment.count > 0
      .notice You have unpaid job offers. They will not be reviewed nor published until you complete the payment.
    - elsif @job_offers.rejected.count > 0
      .notice You have some offers needing update. As soon as you submit your offer again, we will review it for publication.
    - elsif @job_offers.waiting_for_review.count > 0
      .notice You have job offers pending review. You will receive a notification if they're accepted, or if we need more info from you.
