- if designer.has_projects?
  = render '/designers/featured_work', designer: designer, with_description: true

.block.about
  %h3 About Me
  - if designer.long_bio
    %p!= format_text(designer, :long_bio)

.sidebar
  %ul.profile-meta
    %li.profile-links
      %h3 Links
      %ul.social-media
        %li.site= link_to 'Portfolio', designer.portfolio_url, title: designer.portfolio_url, class: 'tooltip', target: "_blank"
        - unless designer.dribbble_url.blank?
          %li.dribbble= link_to "Dribbble", designer.dribbble_url, title: 'Dribbble', class: 'tooltip', target: "_blank"
        - unless designer.twitter_username.blank?
          %li.twitter= link_to "Twitter", "http://www.twitter.com/#{designer.twitter_username}", title: 'Twitter', class: 'tooltip', target: "_blank"
        - unless designer.behance_url.blank?
          %li.behance= link_to "Behance", designer.behance_url, title: 'Behance', class: 'tooltip', target: "_blank"
    %li.skills
      %h3 Skills
      %ul.skills-list
        - designer.skills.each do |s|
          %li{class: s.to_s.dasherize}= symbol_humanize(s)
    %li.location
      %h3 Location
      %p= designer.location
