%li.designer
  .bio
    %h2
      = link_to d.full_name, designer_path(d)
    %h4
      = d.short_bio
    - unless d.long_bio.blank?
      %p!= first_words(format_text(d, :long_bio, sanitize: true), 50)

  .col2
    = render 'featured_work', designer: d, with_description: false
    %ul.actions
      %li.site= link_to 'Site', d.portfolio_url, class: "tooltip", title: d.portfolio_url, target: "_blank"
      - unless d.dribbble_url.blank?
        %li.dribbble= link_to "Dribbble", d.dribbble_url, target: "_blank"
      - unless d.behance_url.blank?
        %li.dribbble= link_to "Behance", d.behance_url, target: "_blank"
