.featured-work
  - designer.projects.each do |project|
    .project
      - if can?(:manage, project)
        = link_to edit_designer_project_path(designer, project), class: 'project-image' do
          - if project.artwork && project.artwork.processed?
            = image_tag project.artwork.asset(:small)
          - else
            = image_tag 'project-placeholder.png'
      - else
        - if project.artwork
          = image_tag project.artwork.asset(:small)
        - else
          = image_tag 'project-placeholder.png'
      %h4.project-title= project.name || 'Untitled'
      %p.project-description= project.description
      - if project.url
        = link_to 'View more', project.url, class: 'project-link'
