.featured-work
  .project
    = link_to 'project-placeholder.png', class: 'project-image' do
      = image_tag 'project-placeholder.png'
    %h4.project-title Sharypic
    %p.project-description UI design for a photo-sharing site.
    / %ul.skills-list
    /   %li.ui-design UI Design
    /   %li.icon-design Icon Design
    /   %li.ux-design UX Design
    %a.project-link{:href => 'http://work.sachagreif.com/#sharypic'} View More
  .project
    = link_to 'project-placeholder.png', class: 'project-image' do
      = image_tag 'project-placeholder.png'
    %h4.project-title Sharypic
    %p.project-description UI design for a photo-sharing site.
    %a.project-link{:href => 'http://work.sachagreif.com/#sharypic'} View More
  .project
    = link_to 'project-placeholder.png', class: 'project-image' do
      = image_tag 'project-placeholder.png'
    %h4.project-title Sharypic
    %p.project-description UI design for a photo-sharing site.
    %a.project-link{:href => 'http://work.sachagreif.com/#sharypic'} View More

/ - unless designer.featured_shot_url.blank?
/   %figure.featured-work
/     = link_to  designer.featured_shot_url, class: 'image' do
/       = image_tag designer.featured_shot_url
