.featured-work
  - designer.projects.each do |project|
    .project
      - if project.artwork
        = link_to project.artwork.asset.url(:medium), class: 'fancybox project-image', rel: 'featured-work', title: project.name do
          = image_tag project.artwork.asset(:small)
      - else
        .project-image
          = image_tag 'project-placeholder.png'
      %h4.project-title= project.name || 'Untitled'
      %p.project-description= project.description
      - if project.url
        = link_to 'View more', project.url, class: 'project-link', target: '_blank'
