%header.top
	.container
		%h1.logo
			= link_to 'Folyo', root_path, :title => 'Home'
		%nav.nav
			%ul.topbar
				%li= section_link_to "Job Offers", offers_path, :job_offers
				%li
					= section_link_to "My Account", edit_designer_path(current_user), :account
				%li.sign-out
					= link_to_unless_current "Sign Out", destroy_user_session_path, method: :delete, title: 'Sign Out'
				%li.refer-client
					= section_link_to "Refer a client", designer_referrals_path(current_user), :referrals
