- if current_user.is_a? Admin
  = content_for :title, "#{@designer.full_name} account"
  = content_for :subtitle, @designer.email
  = content_for :parent_level do
    = link_to "Designers", admin_designers_path

- else
  = content_for :title, "My Account"

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render :partial => '/designers/account_nav'

= content_for :profile_type_hint do
  %span <strong>Public:</strong> anybody can see your profile.
  %span <strong>Private:</strong> only registered clients can see your profile.
  %span <strong>Hidden:</strong> nobody can see your profile (unless you reply to them directly)

= content_for :featured_shot_hint do
  %span Enter the <a href="http://blog.folyo.me/post/11096321674">Dribbble ID</a> of the shot you want to feature on your profile. Leave blank to use your latest shot.

- if current_user.is_a?(Admin) && @designer.is_a?(Html::Designer)
  = content_for :sidebar do
    = link_to 'Convert to Markdown', to_markdown_admin_designer_path(@designer), class: 'button big-button', method: 'put'

= simple_form_for @designer, as: 'designer', url: designer_path(@designer) do |f|

  = content_for :error_messages do
    = error_messages(@designer)

  - if current_user.is_a? Admin
    .section
      %h3 Status
      = f.input :status, :as => :radio_buttons, :label => 'Status', collection: Designer.statuses, label_method: sym_label_method
  - else
    = f.input :status, as: :hidden
  .section
    %h3 Settings
    = f.input :profile_type, as: :radio_buttons, collection: Designer.profile_types, label_method: sym_label_method, :hint => yield(:profile_type_hint)
  .section
    %h3 About You
    = f.input :short_bio, :label => 'Tagline', :hint => "Short descriptive phrase (i.e. \"I design functional user interfaces that also look great\")", :wrapper_html=> {:class => "limit limit-80"}
    = f.input :long_bio, :as => :limited_text, :label => 'Biography', :hint => "A short bio: what you do, who you've worked with, what's your design philosophy, etc.", :wrapper_html => {:class => 'markdown'}
    = f.input :location, :label => 'City', :hint => "If ambiguous, add state or country"
    = f.input :coordinates, :as => :hidden
  .section
    %h3 Your Work
    = f.input :portfolio_url
    = f.input :skills, as: :check_boxes, collection: Designer.skills, label_method: sym_label_method, value_method: :to_sym
    = f.input :featured_shot_id, label: 'Featured shot ID', hint: yield(:featured_shot_hint)
  .section
    %h3 Social Media
    = f.input :twitter_username, :required => false
    = f.input :skype_username, :required => false
    = f.input :dribbble_username, :required => false
    = f.input :zerply_username, :required => false
    = f.input :behance_username, :required => false
  .section
    %h3 Pricing
    = f.input :rate, :label => "Hourly rate", :hint => "Your hourly rate. For statistical purpose only, will not be displayed on the site."
  = f.submit @submit_label || "Update Profile", :class => "button big-button"


