- if @skill
  = content_for :body_class, 'has-breadcrumbs'
  = content_for :title, "Designers specialized in #{symbol_humanize(@skill)}"
  = content_for :parent_level do
    = link_to "All Designers", designers_path
- else
  = content_for :title, 'Browse Designers'
= content_for :subnav do
  = render :partial => 'designers_nav'

%ul.designers
  - @designers.each do |d|
    = render "designer_card", :d => d
= paginate @designers

= content_for :sidebar do
  - unless current_user
    %p.note Some designers only make their profile available to registered users. Submit a job offer to get access to more profiles.

  %p.browse-map.block=link_to "Browse the map →", map_designers_path
  = render 'skill_filters', :current_skill => @skill

  -#.search.block
  -#  %form-#
  -#    %input#st-search-input.st-search-input{:type => "text"}/
  -#  #st-results-container
  -#  :javascript
  -#    var Swiftype = window.Swiftype || {};
  -#    (function() {
  -#    Swiftype.key = 'RyighWemkiBzUmrCRfbY';
  -#    Swiftype.inputElement = '#st-search-input';
  -#    Swiftype.resultContainingElement = '#st-results-container';
  -#    Swiftype.attachElement = '#st-search-input';
  -#    Swiftype.renderStyle = "overlay";
-#
  -#    var script = document.createElement('script');
  -#    script.type = 'text/javascript';
  -#    script.async = true;
  -#    script.src = "//swiftype.com/embed.js";
  -#    var entry = document.getElementsByTagName('script')[0];
  -#    entry.parentNode.insertBefore(script, entry);
  -#    }());

