= render 'designer_header', designer: @designer

= content_for :body_class, "designer-profile"

- if current_user == @designer
  = content_for :subnav do
    = render partial: '/designers/account_nav'

%meta{itemprop: 'role', content: 'designer'}

= render '/designers/profile/designer_profile', designer: @designer
