= content_for :title, @designer.full_name
= content_for :subtitle, @designer.short_bio.truncate(70)
= content_for :avatar, @designer.profile_picture ? @designer.profile_picture.asset(:thumbnail) : 'default-avatar.png'
= content_for :body_class, "designer-profile"

- if current_user
  - if current_user.id == @designer.id
    = content_for :subnav do
      = render :partial => '/designers/account_nav'
  - else
    = content_for :mainaction do
      = link_to 'Get in Touch', new_designer_message_path(@designer), :id => "get-in-touch", :class => "button big-button"

.block.about


  %h3 About Me
  - if @designer.long_bio
    %p!= format_text(@designer, :long_bio)

= content_for :hero do

  -#= render :partial => '/designers/designer_reply', :locals => {:designer => @designer}

  - if @designer.has_projects?
    = render '/designers/featured_work', designer: @designer

= content_for :sidebar do
  %ul.profile-meta
    %li.profile-links
      %h3 Links
      %ul.social-media
        %li.site= link_to 'Portfolio', @designer.portfolio_url,:title =>@designer.portfolio_url, :class => 'tooltip', :target => "_blank"
        - unless @designer.dribbble_url.blank?
          %li.dribbble= link_to "Dribbble", @designer.dribbble_url, :title =>'Dribbble', :class => 'tooltip', :target => "_blank"
        - unless @designer.twitter_username.blank?
          %li.twitter= link_to "Twitter", "http://www.twitter.com/"+@designer.twitter_username,:title =>'Twitter', :class => 'tooltip', :target => "_blank"
        - unless @designer.behance_url.blank?
          %li.behance= link_to "Behance", @designer.behance_url ,:title =>'Behance', :class => 'tooltip', :target => "_blank"
        - unless @designer.zerply_username.blank?
          %li.zerply= link_to "Zerply", "http://www.zerply.com/profile/"+@designer.zerply_username+"/public",:title =>'Zerply', :class => 'tooltip', :target => "_blank"
    %li.skills
      %h3 Skills
      %ul.skills-list
        - @designer.skills.each do |s|
          %li{:class=> s.to_s.dasherize}= s.to_s.humanize
    %li.location
      %h3 Location
      %p= @designer.location