%h3.survey-page-title
  About You
  %span 1/7

.survey-intro
  :markdown
    First, tell us a little more about you.

= simple_form_for @survey, wrapper: :survey do |f|

  .survey-form-block
    %label.survey-form-label 1. How long have you been designing for?
    = f.input :designing_since, collection: ['Less than 1 year', '1-2 years', '2-3 years', '3-4 years', '4-6 years', '6-8 years', '8-10 years', '10-15 years', '15-20 years', 'More than 20 years']

  .survey-form-block
    %label.survey-form-label 2. How long have you been a <em>professional</em> designer for?
    = f.input :professional_since, collection: ['Less than 1 year', '1-2 years', '2-3 years', '3-4 years', '4-6 years', '6-8 years', '8-10 years', '10-15 years', '15-20 years', 'More than 20 years']

  .survey-form-block
    %label.survey-form-label 3. How do you usually bill clients?
    = f.input :billing_mode, collection: ['By the project', 'By the hour', 'By the day', 'By the week', 'By the month', 'Based on results', 'It depends']

  .survey-form-block
    %label.survey-form-label 4. What's your hourly rate?
    = f.input :hourly_rate, input_html: { value: @survey.hourly_rate }
    %p.survey-form-note If you don't bill by the hour, use an approximate hourly rate or just leave blank.

  .survey-pagination
    %button{type: 'submit', name: 'page', value: '00-introduction', class: 'button disabled prev'}
      Introduction
    %button{type: 'submit', name: 'page', value: '02-logo-design', class: 'button next'}
      Next: Logo Design
