%a.survey-intro-link{href: '/surveys/budget/00-introduction'} The 2014 Folyo Budget Survey

%h3.survey-page-title
  Logo & Identity Design
  %span 2/7

.survey-intro
  :markdown
    Here are two sample identity design projects. How much would you have charged for each of them?

    Note: be sure to view the full **case study** for each project.

= simple_form_for @survey, wrapper: 'survey' do |f|

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project',
        { question_title: 'Logo Design',
          project_name: 'CoreFx Logo',
          author_name: 'Julien Renvoye',
          author_url: 'https://dribbble.com/JulienRenvoye',
          project_image: 'budgets/logo1.jpg',
          project_description: 'A clean, modern logo for a tech company. Included a short research phase, a few sketches, and a couple practical applications (business cards).',
          project_url: 'https://dribbble.com/shots/1569977-CoreFx-logo-design-process/attachments/241258' }
    = render '/surveys/partials/budget', input_name: :logo_1_budget, input_label: 'For a similar project, I would charge at least…', f:f

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project',
        { question_title: 'Full Identity Design',
          project_name: 'Gbox Studios',
          author_name: 'Bratus',
          author_url: 'http://bratus.co/',
          project_image: 'budgets/gbox.jpg',
          project_description: 'A full identity for a video production company, including a logo, icons, and packaging.',
          project_url: 'https://www.behance.net/gallery/18065083/Gbox-Studios-Brand-identity-' }
    = render '/surveys/partials/budget', input_name: :logo_2_budget, input_label: 'For a similar project, I would charge at least…', f:f

  = render '/surveys/partials/pagination', { prev_page: '01-about-you', prev_page_name: 'About You', next_page: '03-illustration', next_page_name: 'Illustration'}
