%h3.survey-page-title
  Illustration & Icon Design
  %span 3/7

.survey-intro
  :markdown
    Here's a tip: if you're not sure about a budget, just enter the **minimum amount** you'd consider. 

    So if you know you'd charge *at least* $3000 for a project, just pick “$3000-$4000”.

= simple_form_for @survey, wrapper: 'survey' do |f|

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project',
        { question_title: 'Illustration',
          project_name: 'MACHINES',
          author_name: 'KuoCheng Liao',
          author_url: 'https://www.behance.net/KuoChengLiao',
          project_image: 'budgets/illustration.jpg',
          project_description: 'An illustration for a magazine cover.',
          project_url: 'https://www.behance.net/gallery/18336973/MACHINES-Kult-Magazine-issue-15' }
    = render '/surveys/partials/budget', input_label: 'How much would you charge for a similar project?', f:f

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project',
        { question_title: 'Icon Set Design',
          project_name: 'Touristic icon design',
          author_name: 'Yoon J Kim',
          author_url: 'https://www.behance.net/YoonJ',
          project_image: 'budgets/iconset.png',
          project_description: 'An icon set of 30 single-width line icons.',
          project_url: 'https://www.behance.net/gallery/11228527/Touristic-icon-design' }
    = render '/surveys/partials/budget', input_label: 'How much would you charge for a similar project?', f:f

  .survey-pagination
    %button{type: 'submit', name: 'page', value: '02-logo-design', class: 'button disabled prev'}
      Logo Design
    %button{type: 'submit', name: 'page', value: '04-web-design', class: 'button next'}
      Next: Web Design