%a.survey-intro-link{href: '/surveys/budget/intro'} The 2014 Folyo Budget Survey

%h3.survey-page-title
  Motion Design & Animation
  %span 6/7

.survey-intro
  :markdown
    Walt Disney would be proud of you.

= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project',
        { question_title: 'Animated Trailer',
          project_name: 'FanOs S1',
          author_name: 'ILENOLIUKGO',
          author_url: 'http://ilenoliukgo.com/',
          project_image: 'budgets/fanos.jpg',
          project_description: 'A 1-minute animated trailer for a mobile app.',
          project_url: 'https://www.behance.net/gallery/17789921/FanOs-S1' }

    = render '/surveys/partials/budget', input_name: :animated_trailer_budget, input_label: 'How much would you charge for a similar project?', f: f

  = render '/surveys/partials/pagination', { prev_page: '05-ui-design', prev_page_name: 'UI Design', next_page: '10-thanks', next_page_name: 'Done!'}