= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: 4, position: 'top'}

  - skill = BudgetSurveyData.skills[:motion_design]

  .survey-intro
    :markdown
      Don't do motion design? No worries, feel free to **just skip any question**!

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project', project: skill[:project_types][:animated_trailer]
    = render '/surveys/partials/budget', input_name: :animated_trailer_budget, input_label: 'How much would you charge for a similar project?', f: f

  = render '/surveys/partials/pagination', {current_page: 4, position: 'bottom'}
