= simple_form_for @survey, url: survey_path(@survey), as: :survey, wrapper: :survey do |f|

  %a.survey-intro-link{href: '/surveys/budget/introduction'} The 2014 Folyo Budget Survey

  = render '/surveys/partials/pagination', {current_page: 6, position: 'top'}

  - skill = BudgetSurveyData.skills[:UI_design]

  .survey-intro
    :markdown
      Let's admit it. Mobile apps are more fun to design!

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project', project: skill[:project_types][:simple_mobile_app]
    = render '/surveys/partials/budget', input_name: :simple_mobile_app_budget, input_label: 'How much would you charge for a similar project?', f: f

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project', project: skill[:project_types][:complex_mobile_app]
    = render '/surveys/partials/budget', input_name: :complex_mobile_app_budget, input_label: 'How much would you charge for a similar project?', f: f

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project', project: skill[:project_types][:simple_web_app]
    = render '/surveys/partials/budget', input_name: :simple_web_app_budget, input_label: 'How much would you charge for a similar project?', f: f
    = render '/surveys/partials/budget_coding', input_name: :simple_web_app_coding_budget, input_label: 'How much would you add for HTML/CSS coding?', f: f

  = render layout: '/surveys/partials/form_block' do
    = render '/surveys/partials/project', project: skill[:project_types][:complex_web_app]
    = render '/surveys/partials/budget', input_name: :complex_web_app_budget, input_label: 'How much would you charge for a similar project?', f: f
    = render '/surveys/partials/budget_coding', input_name: :complex_web_app_coding_budget, input_label: 'How much would you add for HTML/CSS coding?', f: f

  = render '/surveys/partials/pagination', {current_page: 6, position: 'bottom'}
