= content_for :parent_level do
	= link_to "My Offers", offers_path
= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
= content_for :subnav do
	= render 'job_offers/client/nav', job_offer: @job_offer

- if @job_offer.order
	.notices
		.notice
			%h4 Order details
			%ul
				%li <strong>Job Offer:</strong> #{@job_offer.title}
				%li <strong>Date:</strong> #{@job_offer.order.created_at.strftime("%m/%d/%Y at %I:%M%p")}
				%li <strong>Amount:</strong> $#{@job_offer.order.total}
	%h2 Thanks for buying a job offer on Folyo
	%p It will now be displayed to all designers on the site, and they will also receive it by email in the next newsletter.
	%p You should start receiving designer's replies in your inbox very soon!
	= content_for :sidebar do
		.note
			%h5 Not satisfied?
			%p If you're not satisfied with our service <a href="mailto:hello@folyo.me">contact us</a> to get a full refund.
- elsif @job_offer.accepted?
	.block
		%p Buying a job offer on Folyo means we will:
		%ul
			%li <strong>Display your job offer</strong> on the site
			%li <strong>Send it</strong> to every designer in the next newsletter
			%li Send you designer's replies <strong>straight to your inbox</strong>
		.notices
			.notice
				%h4 Our money back guarantee
				%p If after 10 days you haven't found a suitable designer, <strong>we'll give you a full refund</strong>.
		%p You will be redirected to Paypal for authentication, then come back on this site to confirm the payment:
		.pay
			.price
				- if @job_offer.discount
					-if @job_offer.discount == "HN20"
						%strike.oldprice $100
						%span.number $80
				-else
					%span.number $100
			.paypal
				= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout'
	- if @job_offer.discount && @job_offer.discount == "HN20"
		- content_for :sidebar do
			%p.note You're getting the Hacker News discount, <strong>20%</strong> off!
- else
	%p No need to pay, this one's on the house!