= content_for :title, @job_offer.title

= render 'job_offers/client/wizard', active: :order, offer: @job_offer, signup: params[:signup]

= content_for :sidebar do
  .sidebar-guarantee
    %h5.money-back Money back guarantee
    %p If you can't find a suitable designer through Folyo, let us know and you'll be <strong>fully refunded</strong>.
.block
  %h3 Complete Your Payment

  %p Please complete your payment in order to finalize your job offer on Folyo.
  .pay
    .price
      %span.number= @job_offer.display_price
    = link_to 'Checkout on PayPal', checkout_offer_order_path(@job_offer, signup: params[:signup]), id: 'paypal-checkout', class: 'paypal button large-button', data: {'no-turbolink' => true}
  - if @job_offer.discount
    %span.discount= "#{@job_offer.discount}% discount included in price"

  = mail_to "hello@folyo.me", "Dont' want to pay with PayPal? Let us know!", subject: "Folyo - Don't want to pay with PayPal", body: "Explain us what the issue with Paypal is! Thanks :)", class: 'no-paypal'

.block

  %h3 Common Questions

  %h4 What Happens After I Pay?
  %p After the payment, we will <strong>review your project</strong>. If your job offer is accepted, it will immediately be displayed on the site, and sent by email to all Folyo designers at the end of the week.

.block
  %h4 What If My Project Is Not Accepted?
  %p If your job offer is not accepted (for example, because it needs more details, or the budget is too low), we will contact you and work together to craft the best job offer possible.
  %p If for whatever reason your job offer still hasn't been accepted after 10 days, we will automatically refund you.

.block
  %h4 What If I Don't Find A Designer?
  %p If you can't find a suitable designer through Folyo, let us know and you'll be <strong>fully refunded</strong>.
