= content_for :title, 'Referrals'

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render '/designers/account_nav'

.referrals
  .input.referral.url

    %h3 Your referral url

    %input#referral-url{type: 'url', value: @referral_url, onClick: "this.select();"}

    = link_to '#', class: 'button clipboard-copy', "data-clipboard-target" => 'referral-url' do
      = fa_icon 'clipboard'
      Copy

    = link_to "https://twitter.com/share?text=Finding a Designer, Made Easy&url=#{CGI.escape(@referral_url)}", class: 'button twitter-share', target: '_blank' do
      = fa_icon 'twitter'
      Share

  .balance
    %h3 Balance
    %p= raw("<strong>$#{@balance.round(2)}</strong> available for transfer.")
    - if @balance > 0
      = simple_form_for @designer, path: transfer_designer_referrals_path(@designer) do |f|
        = f.input :paypal_email
        = f.submit "Transfer on my Paypal account", class: 'button big-button'

  .history
    %h3 History

    - if @designer.referrals.empty?
      No referrals yet
    - else
      %table
        %tbody
          - @designer.referrals.each do |referral|
            %tr{ class: referral[:status] }
              %td= referral[:offer].client.full_name.truncate(30)
              %td= referral[:offer].title.truncate(50)
              %td= referral[:label]
              %td= fa_icon



