= content_for :title, 'Referrals'

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render '/designers/account_nav'

.referrals

  %p.page-intro
    = raw("Refer clients to sign up on Folyo and get <strong>#{JobOffer::REFERRAL_BONUS}% of their posting fee </strong> anytime they post an offer on Folyo.")

  .input.referral.url

    %h3 Your referral url

    %input#referral-url{type: 'url', value: @referral_url, onClick: "this.select();"}
    %p.inline-hints= raw("Referral will only work if client <strong>sign up</strong> using your referral link.")

    = link_to '#', class: 'button clipboard-copy', "data-clipboard-target" => 'referral-url' do
      = fa_icon 'clipboard'
      Copy

    = link_to "https://twitter.com/share?text=Finding a Designer, Made Easy&url=#{CGI.escape(@referral_url)}", class: 'button twitter-share', target: '_blank' do
      = fa_icon 'twitter'
      Share

  .bonus
    %h3 Current bonus

    - if @balance > 0
      %p= raw("Yeah, you have a <strong>$#{@balance.round(2)}</strong> bonus available for transfer!")
      = simple_form_for @designer, url: transfer_designer_referrals_path(@designer) do |f|
        = f.input :paypal_email, label: 'Your PayPal email:', hint: "Make sure this is the email matching with your PayPal account. No way back!"
        = f.submit "Transfer on my PayPal account", class: 'button big-button', confirm: 'Make sure your PayPal email is correct. There is no way back!'
    - else
      %p No bonus yet!

  .history
    %h3 History

    - if @designer.referrals.empty?
      No referrals yet
    - else
      %table
        %tbody
          - @designer.referrals.each do |referral|
            %tr{ class: referral[:status] }
              %td= referral[:offer].client.full_name.truncate(30)
              %td= referral[:offer].title.truncate(50)
              %td= referral[:label]
              %td= fa_icon



