- budget_survey_contents = %i(introduction about_you) + BudgetSurveyData.skills.keys + %i(finish_survey)

- pagination_class = ''
- next_button_class = ''
- if position == 'top'
  - pagination_class = 'top-pagination'
  - next_button_class = 'disabled'

- current_page_index = budget_survey_contents.index(current_page.to_sym)
- prev_page = current_page_index == 0 ? nil : budget_survey_contents[current_page_index - 1]
- next_page = budget_survey_contents[current_page_index + 1]

.survey-pagination{class: pagination_class}

  - if prev_page
    %button{type: 'submit', name: 'page', value: prev_page.to_s.downcase.dasherize, class: 'button disabled prev', id: "#{position}-prev"}
      %span
        = BudgetSurveyData.skills[prev_page][:name] rescue prev_page.to_s.titleize

  - if position == 'top'
    %h3.survey-page-title
      = BudgetSurveyData.skills[current_page][:name] rescue current_page.to_s.titleize
      %span #{current_page_index}/#{BudgetSurveyData.skills.length + 1}

  - if next_page
    %button{type: 'submit', name: 'page', value: next_page.to_s.downcase.dasherize, class: "button next #{next_button_class}", id: "#{position}-next"}
      %span
        = BudgetSurveyData.skills[next_page][:name] rescue next_page.to_s.titleize
