= content_for :view_online, offer_reply_url(@designer_reply.job_offer, @designer_reply)

- designer = @designer_reply.designer

- if @designer_reply.message
  %table.row
    %tr
      %td.wrapper.last
        %table.twelve.columns
          %tr
            %td
              .designer-message
                = auto_link(@designer_reply.message.html_safe)
            %td.expander

%table.row
  %tr
    %td.wrapper
      %table.seven.columns
        %tr
          %td
            %table.designer-profile
              %tr
                %td.designer-portrait
                  - if designer.profile_picture
                    = image_tag designer.profile_picture.asset(:thumbnail)
                  - else
                    = image_tag "http://assets0.folyo.me/emails/default-avatar.png"
                %td.designer-data
                  %h6.designer-name= designer.full_name
                  %p.designer-location= designer.location
                %td.expander

    %td.wrapper.last
      %table.five.columns
        %tr
          %td
            %table.wrapper.last.designer-actions
              %tr
                %td.six.sub-columns
                  %table.button.shortlist
                    %tr
                      %td
                        = link_to 'Shortlist', '#'
                %td.six.sub-columns.last
                  %table.button.hide
                    %tr
                      %td
                        = link_to 'Hide', '#'
                %td.expander
            .view-full-profile
              = link_to 'View Full Profile', offer_reply_url(@designer_reply.job_offer, @designer_reply)

          %td.expander

- if designer.has_showable_projects?
  %table.row.designer-portfolio
    %tr
      %td.wrapper
        %table.eight.columns
          %tr
            %td
              = link_to offer_reply_url(@designer_reply.job_offer, @designer_reply), class: 'portfolio-sample image1' do
                = image_tag designer.projects[0].artwork.asset(:medium)
            %td.expander

      %td.wrapper.last
        %table.four.columns
          %tr
            %td
              - if designer.projects[1].try(:can_show?)
                = link_to offer_reply_url(@designer_reply.job_offer, @designer_reply), class: 'portfolio-sample image2' do
                  = image_tag designer.projects[1].artwork.asset(:medium)

              - if designer.projects[2].try(:can_show?)
                = link_to offer_reply_url(@designer_reply.job_offer, @designer_reply), class: 'portfolio-sample image3' do
                  = image_tag designer.projects[2].artwork.asset(:medium)

            %td.expander

.links
  = designer.social_urls.each_slice(3) do |slice|
    %table.row
      %tr
        - slice.each do |key, url|
          %td.wrapper{ class: cycle('', '', 'last') }
            %table.four.columns.link
              %tr
                %td= link_to key.to_s.capitalize, url
        %td.expander

