= content_for :view_online, offer_reply_url(@designer_reply.job_offer, @designer_reply)

- designer = @designer_reply.designer

- if @designer_reply.message
  .designer-message
    = auto_link(@designer_reply.message.html_safe)


.designer-profile
  .designer-portrait
    - if designer.profile_picture
      = image_tag designer.profile_picture.asset(:thumbnail)
    - else
      = image_tag "http://assets0.folyo.me/emails/default-avatar.png"
  .designer-data
    %h6.designer-name= designer.full_name
    %p.designer-location= designer.location

.designer-actions
  = link_to 'Shortlist', '#', class: 'button shortlist'
  = link_to 'Hide', '#', class: 'button hide'

.designer-full-profile
  = link_to 'View Full Profile', offer_reply_url(@designer_reply.job_offer, @designer_reply)


- if designer.has_showable_projects?
  %table.row.designer-portfolio
    %tr
      %td.wrapper
        %table.eight.columns
          %tr
            %td
              = link_to offer_reply_url(@designer_reply.job_offer, @designer_reply), class: 'portfolio-sample image1' do
                = image_tag designer.projects[0].artwork.asset(:medium)
            %td.expander

      %td.wrapper.last
        %table.four.columns
          %tr
            %td
              - if designer.projects[1].try(:can_show?)
                = link_to offer_reply_url(@designer_reply.job_offer, @designer_reply), class: 'portfolio-sample image2' do
                  = image_tag designer.projects[1].artwork.asset(:medium)

              - if designer.projects[2].try(:can_show?)
                = link_to offer_reply_url(@designer_reply.job_offer, @designer_reply), class: 'portfolio-sample image3' do
                  = image_tag designer.projects[2].artwork.asset(:medium)

            %td.expander

.links
  = designer.social_urls.each_slice(3) do |slice|
    %table.row
      %tr
        - slice.each do |key, url|
          %td.wrapper{ class: cycle('', '', 'last') }
            %table.four.columns.link
              %tr
                %td= link_to key.to_s.capitalize, url
        %td.expander

