#{@designer_reply.designer.full_name} has just replied to your job offer, "#{@designer_reply.job_offer.title}":

__________

#{@designer_reply.message}

__________

View #{@designer_reply.designer.full_name}'s profile:

#{designer_url(@designer_reply.designer)}

Or just reply to this email to get in touch