= content_for :company_hint do
  %span.title Things to mention:
  %span <strong>About you</strong>: what's your story? where are you based?
  %span <strong>What you do</strong>: clearly explain what you do in simple terms.
  %span <strong>Why you do it</strong>: tell us the motivations behind your project.
  %span <strong>Your users</strong>: who uses your service?
  %span.bottom For more ideas, check out our guide on <a target="_blank" href="http://www.folyo.me/guides/how_to_write_a_good_job_description">How to Write a Good Job Description</a>.

= content_for :summary_hint do
  %span A two-sentence description of what you're trying to accomplish. This is what designers will receive in their inbox.

= content_for :details_hint do
  %span More details about your project. For example, what pages or screens you need, and what kind of deliverables you expect.

= content_for :inspiration_hint do
  %span Other sites, logos, etc. that you like, or services similar to yours.

= content_for :timeframe_hint do
  %span Starting date, deadline, etc.

= content_for :budget_type_hint do
  %span.title Folyo's 3 Designer Types
  %span <strong>Junior:</strong> You need a solid, good-looking design but don't have that many resources. You're willing to give a less experienced designer their chance.
  %span <strong>Senior:</strong> You're looking for a great design, and you have a comfortable budget. You want a skilled designer with a lot of experience.
  %span <strong>Superstar:</strong> You want to invest in an outstanding design. You're looking for the absolute best designer you can get.
  %span For more info on pricing, you can also check out <a href="http://blog.folyo.me/post/10723370923/how-much-does-a-website-cost" target="_blank">our survey of web design prices</a>

= content_for :title_hint do
  %span
    Explain the project!<br/>
    <strong>BAD:</strong> "Loremipsum Co."<br/>
    <strong>GOOD:</strong> "Design a new UI for a movie review site"

= content_for :coding_hint do
  %span Should the designer also code their design?

= hidden_field_tag :signup, params[:signup]
- if @job_offer.rejected? && !current_user.is_a?(Admin)
  = f.input :status, :as => :hidden, :value => :pending

.section
  %h3 Your Company
  = simple_fields_for client do |client_f|
    = client_f.input :company_name
    = client_f.input :company_url
    = client_f.input :company_description, as: :text, hint: yield(:company_hint), input_html: {class: textarea_type(client)}, hint_html: {class: 'with-title'}
    = client_f.input :location

.section

  %h3 Project Info

  .note
    %h4 Need help?
    For more help, check out our guide on <a target="_blank" href="http://www.folyo.me/guides/how_to_write_a_good_job_description">How to Write a Good Job Description</a>.

  = f.input :title, :hint => yield(:title_hint)

  = f.input :project_summary, as: :text, hint: yield(:summary_hint),     input_html: {class: textarea_type(client)}

.section

  %h3 Project Details

  = f.input :project_details, as: :text, hint: yield(:details_hint),     input_html: {class: textarea_type(client)}


  = f.input :inspiration,     as: :text, hint: yield(:inspiration_hint), input_html: {class: textarea_type(client)}
  = f.input :timeframe,       as: :text, hint: yield(:timeframe_hint),   input_html: {class: textarea_type(client)}

  = f.input :skills, as: :check_boxes, collection: Designer.skills, label: 'Desired skills', label_method: sym_label_method, value_method: :to_sym

  = f.input :coding, collection: JobOffer.coding_options, as: :radio_buttons, label: 'Coding', hint:yield(:coding_hint), label_method: sym_label_method
  %p.note.coding-note Please note that since a lot of Folyo designers don't code, choosing this option will generally reduce the number of replies you receive.
.section
  %h3 Budget
  - if @job_offer.compensation
    = f.input :compensation, :label => "Budget (in USD)", :hint => yield(:budget_hint)

  = f.input :budget_type, as: :radio_buttons, collection: JobOffer.budget_types, :label => "Designer Type", label_method: sym_label_method, hint: yield(:budget_type_hint), hint_html: {class: 'with-title'}

  = f.input :budget_range, :as => :select, :collection => JobOffer.budget_ranges, :label => "Budget Range"#, :hint => yield(:budget_range_hint)

  - if current_user.is_a? Admin
    .section
    %h3 Admin
    = f.input :location_type, :label => "Work Location", :as => :radio_buttons, :hint => 'Be aware that choosing "Local" will dramatically restrict the field of designers. ', collection: JobOffer.location_types, label_method: sym_label_method
    = f.input :work_type, :label => "Contract Type", :as => :radio_buttons, :hint => "Please consider that freelance offers generally get a lot more replies.", collection: JobOffer.work_types, label_method: sym_label_method
