- unless job_offer[:company_description].blank?
  .block.company-info
    %h3 Company Info
    %p!= format_text(job_offer, :company_description)

- unless job_offer[:project_summary].blank?
  .block.project-info
    %h3 Project Summary
    %p!= format_text(job_offer, :project_summary)

- unless job_offer[:project_details].blank?
  .block.project-info
    %h3 Project Details
    %p!= format_text(job_offer, :project_details)

- unless job_offer[:inspiration].blank?
  .block.project-info
    %h3 Inspiration
    %p!= format_text(job_offer, :inspiration)

- unless job_offer[:timeframe].blank?
  .block.project-info
    %h3 Timeframe
    %p!= format_text(job_offer, :timeframe)
