= content_for :parent_level do
  = link_to "My Offers", offers_path
= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
= content_for :subnav do
  = render 'offer_nav', job_offer: @job_offer

= render :partial => "/site/wysiwyg"

= simple_form_for @job_offer, :url => offer_path(@job_offer) do |f|
  - if current_user.is_a? Admin
    .section
      %h3 Status
      = f.input :status, :as => :radio, :label => 'Status'

  = render 'form', :f => f

  = f.submit "Update", :class => "button big-button"