= content_for :parent_level do
  = link_to "My Offers", offers_path
= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
= content_for :subnav do
  = render current_user.try(:is_a?, Designer) ? 'job_offers/designer/nav' : 'job_offers/client/nav', job_offer: @job_offer

= render :partial => "/site/wysiwyg"

= simple_form_for @job_offer, url: offer_path(@job_offer) do |f|
  - if current_user.is_a? Admin
    .section
      %h3 Status
      = f.input :status, as: :radio_buttons, label: 'Status', collection: JobOffer.statuses, label_method: sym_label_method

  = render 'form', :f => f, job_offer: @job_offer

  = f.submit "Update", class: "button big-button"