= content_for :title, @job_offer.title.blank? ? 'Your Job Offer' : @job_offer.title
= content_for :body_class, " offer-client"
- if session[:job_offer_index_path]
  = content_for :back_path, session[:job_offer_index_path]
  = content_for :back_name, 'Offers'

- if @job_offer.waiting_for_payment? || @job_offer.waiting_for_submission?
  = render 'job_offers/client/wizard', active: :offer, offer: @job_offer, signup: params[:signup]
- else
  = content_for :subnav do
    = render 'job_offers/client/nav', job_offer: @job_offer

= content_for :error_messages do
  = error_messages(@job_offer)

- if @job_offer.rejected? && !@job_offer.review_comment.blank?
  = render '/job_offers/client/review_comment', job_offer: @job_offer

- if current_user.is_a?(Admin) && (@job_offer.can_accept? || @job_offer.can_reject?)
  = render '/admin/job_offers/workflow'

= content_for :sidebar do
  - if current_user.is_a?(Admin) && @job_offer.can_refund?
    = link_to 'Refund the offer', refund_admin_offer_order_path(@job_offer), method: :put, class: 'button big-button', confirm: 'Are you sure you want to refund? It cannot be canceled.'
  - else
    .testimonial
      %blockquote
        %p “Folyo has been an incredibly useful service, <strong>literally saving us days of work</strong>.”
      %cite
        Antoine Martin,
        %a.testimonial-logo{:href => 'http://www.alert.us/'}
          = image_tag 'logos/alertus.png', style: 'top:4px;'

- if @job_offer.waiting_for_submission?
  %p.page-intro
    Write your job offer, then submit it for review once you're ready.

= simple_form_for @job_offer, as: 'job_offer', url: offer_path(@job_offer.id), html: {id: 'edit_job_offer_form'} do |f|

  = render '/job_offers/form', f: f, job_offer: @job_offer, client: @client
