= render '/job_offers/breadcrumb'

= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
= content_for :subnav do
  = render current_user.try(:is_a?, Designer) ? 'job_offers/designer/nav' : 'job_offers/client/nav', job_offer: @job_offer

= content_for :mainaction do
  .action-bar
    %a.button.secondary{:href => "#"} Save
    %a.button{:href => "#"} Submit for Review

= content_for :error_messages do
  = error_messages([@client, @job_offer], 'job offer')

- if @job_offer.rejected? && !@job_offer.review_comment.blank?
  = render 'review_comment', job_offer: @job_offer

- if current_user.is_a?(Admin) && @job_offer.waiting_for_review?
  = render '/admin/job_offers/workflow'

- if current_user.is_a?(Admin) && @job_offer.is_a?(Html::JobOffer)
  = content_for :sidebar do
    = link_to 'Convert to Markdown', to_markdown_admin_offer_path(@job_offer), class: 'button big-button', method: 'put'

= simple_form_for @job_offer, url: offer_path(@job_offer) do |f|

  = render 'form', f: f, job_offer: @job_offer, client: @client

  = f.submit "Update", class: "button big-button"