= render '/job_offers/breadcrumb'

= content_for :title, "Your Job Offer"

= content_for :body_class, "offer-client with-wizard"

= render 'job_offers/client/wizard', active: :offer

= content_for :error_messages do
  = error_messages([@client, @job_offer], 'job offer')

%p.page-intro
  Write your job offer, then submit it for review once you're ready.
  - unless current_user
    = 'If you already have an account on Folyo, you should'
    = link_to 'log in', new_user_session_path
    = 'first.'

= simple_form_for @job_offer, :url => offers_path do |f|

  = simple_fields_for @client do |user_f|
    - unless current_user
      .section
        %h3 Your Account
        = user_f.input :initial_role, as: :hidden, input_html: {value: "client"}
        = user_f.input :full_name
        = user_f.input :email, required: true
        = user_f.input :password, as: :password, required: true
        = user_f.input :referrer, label: "How did you hear about Folyo?", hint: "Tell us if you've been referred by one of Folyo's designers, or heard about it on a specific website."

  = render 'form', f: f, job_offer: @job_offer, client: @client