= content_for :title, "Submit a Job Offer"

- if params[:signup]
  = content_for :body_class, " with-wizard"
  = content_for :subnav do
    %ol.wizard
      %li Your Company
      %li.active Your Project

= simple_form_for @job_offer, :url => offers_path do |f|

  = render 'form', :f => f, job_offer: @job_offer

  = f.submit "Submit Job Offer", :class => "button big-button"
