= content_for :title, @job_offer.title.blank? ? 'New Offer' : @job_offer.title
= content_for :body_class, "offer-designer"

- if current_user.is_a? Designer
  = content_for :subtitle, @job_offer.title
- else
  = content_for :subnav do
    = render '/job_offers/client/nav', job_offer: @job_offer

- if @job_offer.rejected? && !@job_offer.review_comment.blank?
  = render '/job_offers/client/review_comment', job_offer: @job_offer

- if current_user.is_a? Designer
  = link_to 'Back to job offers', offers_path, class: 'backlink'

= render '/job_offers/job_offer_main', job_offer: @job_offer

- if current_user.is_a? Designer
  = link_to 'Back to job offers', offers_path, class: 'backlink'

= content_for :sidebar do
  - if current_user.is_a? Designer
    - if @job_offer.archived?
      .alert
        .notice This job offer is no longer active.
    - else
      = render '/job_offers/designer/reply', job_offer: @job_offer

  = render '/job_offers/job_offer_details', job_offer: @job_offer