= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
= content_for :subnav do
  = render 'job_offers/client/nav', job_offer: @job_offer

.block
  .note
    %h5 Archiving a job offer will:
    %ul
      %li Hide it from designers, so you won't receive any more replies.
      %li Send a notification to all the designers who have already replied letting them know that the position has been filled.
  %h3 Who did you pick?
  %p If you don't mind, we'd like to know which designer (if any) you chose to work with:
  = form_tag archive_offer_path(@job_offer) do
    %ul.designers-replied
      - @designers_who_replied.each_with_index do |d, index|
        %li
          = radio_button_tag "designer_users", d.id
          %label{:for => "designer_users_#{d.id}"}= d.full_name
          = link_to "(view profile)", designer_path(d)
    = submit_tag "Archive Offer", :class => "button"