= content_for :parent_level do
  = link_to "My Offers", offers_path

= content_for :title, @job_offer.title
= content_for :body_class, "offer-client"
= content_for :subnav do
  = render 'offer_nav', job_offer: @job_offer

= render 'job_offer_main', job_offer: @job_offer

= content_for :sidebar do
  = render 'job_offer_details', job_offer: @job_offer