.footer
	.nav
		%ul
			%li= link_to "Designers", designers_path
			%li= link_to 'About', '/about'
			%li= link_to 'Guides', '/guides'
			%li= link_to 'Press', '/press'
			%li= link_to 'Partners', '/partners'
			%li= link_to 'Blog', 'http://blog.folyo.me'
			%li= link_to 'Follow us on Twitter', 'http://twitter.com/YoFolyo'
			%li= link_to 'Suggest features', 'http://folyo.uservoice.com/forums/134595-general'
