.footer
	.nav
		%ul
			%li= link_to "Designers", designers_path
			%li= link_to 'About', '/about'
			%li= link_to 'Guides', '/guides'
			%li= link_to 'Press', '/press'
			%li= link_to 'Partners', '/partners'
			%li= link_to 'Blog', 'http://blog.folyo.me'
			%li= link_to 'Follow us on Twitter', 'http://twitter.com/YoFolyo'
			%li= link_to 'Suggest features', 'http://folyo.uservoice.com/forums/134595-general'
			/ %li.twitter-button
			/ 	:plain
			/ 		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://folyo.me" data-count="horizontal" data-via="YoFolyo">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			%li.mixpanel
				:plain
					<a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_light.png" alt="Real Time Web Analytics" /></a>

- if ENV['RAILS_ENV'] == "production"
	= render :partial => '/site/retargeting'
	= render :partial => '/site/olark'
	= render :partial => '/site/clicky'
