%head
  %title
    Folyo -
    = yield(:title)

  %meta{name: "description", content: "Folyo helps startups find great designers by connecting them with a curated list of talented freelancers."}
  %meta{name: "keywords",    content: "san francisco, startup, bay area, UI, GUI, design, designer, hire, find, freelance"}

  = stylesheet_link_tag 'screen', :media => 'screen, projection'

  = javascript_include_tag 'head.min'
  = headjs_include_tag 'vendor', 'application'

  = csrf_meta_tag

  %link{ rel: "shortcut icon", href: "/favicon.ico" }

  :coffeescript
    head.js '//use.typekit.com/tpm6qxy.js', ->
      try
        Typekit.load()
      catch e

  - if Rails.env.production?
    :coffeescript
      head.js '//www.google-analytics.com/ga.js', ->
        window._gaq = _gaq || []
        _gaq.push ['_setAccount', 'UA-32751793-1']
        _gaq.push ['_setDomainName', 'www.folyo.me']
        _gaq.push ['_trackPageview']
        # handling turbolinks page changes
        document.addEventListener 'page:change', ->
          _gaq.push ['_trackPageview']

  - if Rails.env.production?
    :coffeescript
      head.js '//static.getclicky.com/js', ->
        try
          clicky.init(66478127)
          # handling turbolinks page changes
          document.addEventListener 'page:change', (data, data2) ->
            clicky.log document.location.href, document.title
        catch e

    %noscript
      %img{alt: "Clicky", width: "1", height: "1", src: "//in.getclicky.com/66478127ns.gif"}