:javascript
	(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
	a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
	mixpanel.init("2388395228d8868aafa56bed6e5df55c");

- if current_user
	:javascript
		mixpanel.identify('#{current_user.email}');
		mixpanel.name_tag('#{current_user.full_name}');
		// mixpanel.register({'role': '#{current_user.role}'});
		mixpanel.people.set({
		    "$email": "#{current_user.email}",
		    "$created": "#{current_user.created_at}",
		    "role": "#{current_user.role}",
		    "profile": "#{current_user.profile_url}"
		});
		// track mixpanel events
		#{session.delete :mixpanel_events}