= content_for :title, "Guides"

.block
	%p Here are a couple guides and articles that will help you in the process of finding and working with a designer.
	%ul
		%li
			%h5= link_to "How to write a good job description", "/guides/how_to_write_a_good_job_description", data: { 'no-turbolink' => true }
			%p.small How do you make your project sound appealing and interesting?
		%li
			%h5= link_to "How to pick a great designer", "/guides/how_to_pick_a_great_designer", data: { 'no-turbolink' => true }
			%p.small What to look for when choosing a designer for your project.
		%li
			%h5= link_to "The Startup's Guide to Budget Design", "http://blog.folyo.me/the-startups-guide-to-budget-design/"
			%p.small Did you know that Stack Overflow used 99Designs to crowdsource their logo for only $512?
		%li
			%h5= link_to "\"How much does a website cost?\" and other pricing questions", "http://blog.folyo.me/how-much-does-a-website-cost-and-other-pricing-questions/"
			%p.small 40 designers answer a survey about their pricing practices.
		%li
			%h5= link_to "The $5 Logo", "http://blog.folyo.me/the-5-dollar-logo/"
			%p.small What kind of logo can you get for $5?

= content_for :sidebar do
	%h3 For Designers
	.list
		%ul
			%li
				%h5= link_to "Common portfolio mistakes (and how to fix them)", "http://blog.folyo.me/common-portfolio-mistakes-and-how-to-fix-them/"
			%li
				%h5= link_to "Can clients trust you?", "http://blog.folyo.me/can-clients-trust-you/"
			%li
				%h5= link_to "Being a professional", "http://blog.folyo.me/being-a-professional/"
