= content_for :title, "Helping companies find great designers"
= content_for :body_class, "home"
= content_for :add_to_head, :home

%section.primary
	= render_site_nav
	.hero
		.container
			.tagline
				%h2
					Finding a Designer, Made Easy
					/ Find the Right UI Designer Today
					/ “Finding the right designer just takes too much time!”
					/ Finding the right designer can be easy
				%h3
					Folyo is a private community of hand-picked designers. Post your project, and you'll receive a shortlist of the best designers for the job.
				%a.button{:href => '#start'} Read on to find out why Folyo works ↓

%section.secondary.home-content.home-first#start
	.container
		.block
			%h2.first-heading
				/ “Finding the right designer just takes too much time!”
				“Why is finding the right designer so hard!?”
			%p Ever had that thought? The truth is that <strong>looking for a designer sucks</strong>. Most of the designers you come across will be:
			= image_tag 'new/illustration1.png', class: 'illustration'
			%p Every hour spent looking at design portfolios is time that you could be working on your product instead. So why not speed things up a little?
			/ %p And even if you <em>do</em> find someone good, there's no guarantee that they’ll be available or interested in your project.
		.block
			%h2 Receive a shortlist of recommended designers…
			%p Give Folyo a try. We’ll send your project to our community of vetted freelance designers, and give you a shortlist of designers who are:
			= image_tag 'new/illustration2.png', class: 'illustration'
		.block
			%h2 …and we'll help you pick the best
			%p Once you get enough replies, we'll also help suggest the best fit. It's like having a design agency in your corner, but without the hefty commission!


%section.meet-designers.home-content
	.container
		.block
			%h2 Designers you can trust
			%p.intro Each designer's application to Folyo is individually reviewed, and about <strong>70%</strong> of applications are rejected. Here is a small sample of the community's work:
		.portfolio-samples
			= render '/designers/profile/portfolio_sample', designers: @featured_designers
		.block
			%h2 Meet the designers
			%p.intro With over 1000 designers, the Folyo community includes web designers, illustrators, logo designers, and more.
		.designers
			.designer
				%a.avatar{:href => "/designers/paddy-donnelly"}
					= image_tag 'photos/paddy.jpg'
				%h3
					%a.name{:href => "/designers/paddy-donnelly"} Paddy Donelly
				.location Belgium
				.bio Paddy's work seamlessly weaves illustration and design to create impactful homepages.
			.designer
				%a.avatar{:href => "/designers/brooke-kao"}
					= image_tag 'photos/brooke.jpg'
				%h3
					%a.name{:href => "/designers/brooke-kao"} Brooke Kao
				.location Los Angeles
				.bio Brooke's bold colors and strong shapes give a unique edge to her digital and print work.
			.designer
				%a.avatar{:href => "/designers/seth-rexilius"}
					= image_tag 'photos/seth.jpg'
				%h3
					%a.name{:href => "/designers/seth-rexilius"} Seth Rexilius
				.location Lincoln
				.bio Seth specializes in hard-hitting, dynamic work that features photos prominently.
			.designer
				%a.avatar{:href => "/designers/dash"}
					= image_tag 'photos/dash.jpg'
				%h3
					%a.name{:href => "/designers/dash"} Dash Ponce de Leon
				.location San Francisco
				.bio Dash is well-known for his pixel-perfect user interfaces and amazingly realistic icons.
		.block.skills
			%h2 The right skill for the right job
			%p.intro Folyo designers' expertise spans across multiple skillsets, including:
			%ul
				%li.web-design Web design
				%li.ui-design UI design
				%li.icon-design Icon design
				%li.ux-design UX design
				%li.logo-design Logo design
				%li.print-design Print design
				%li.mobile-design Mobile design
				%li.illustration-design Illustration
				%li.packaging-design Packaging design


%section.how-it-works.inverted.home-content
	.container
		%h2 Here's how Folyo works:
		%h3.step.title-1.waypoint Companies post their project details…
		.message.message-company.message-1.waypoint.bounceIn
			.avatar.avatar-company
				= image_tag 'avatar.png'
				%span.name John C. Client
			.contents Hi! Our product, WidgetFindr, lets people rate and compare widgets. We're looking for a great designer to help us redesign our iPhone app. Our budget is $3000, and if things go well we might have more work for you in the future.

		%h3.step.title-2.waypoint …then receive designer replies:
		.message.message-designer.message-2.waypoint
			%a.avatar{:href => 'http://lefft.com/'}
				= image_tag 'photos/paddy.jpg'
				%span.name Paddy
			.contents This sounds like a great project! I'm available and I'd love to learn more.
		.message.message-designer.message-3.waypoint
			%a.avatar{:href => 'http://brookekao.com/2013/'}
				= image_tag 'photos/brooke.jpg'
				%span.name Brooke
			.contents I think I'd be a good fit for this, and the budget looks good. Take a look at my portfolio and let me know what you think.
		.message.message-designer.message-4.waypoint
			%a.avatar{:href => 'http://creativeda.sh/'}
				= image_tag 'photos/dash.jpg'
				%span.name Dash
			.contents I've got a lot of experience designing mobile apps, so this project is right up my alley!

%section.folyo-guides.home-content
	.container
		.block
			%h2 Folyo Guides: helping you pick the right designer for your project
			%p You don't have to be a designer to know how to pick one. Our guides will help you get up to speed and make the right choice.
		.guides
			.guide
				%h3
					%a{:href => '/guides/how_to_pick_a_great_designer', data: { 'no-turbolink' => true }} How To Pick A Great Designer
				%p What to look for when choosing a designer for your project.
				%a.button{:href => '/guides/how_to_pick_a_great_designer', data: { 'no-turbolink' => true }} Read Now
			.guide
				%h3
					%a{:href => '/guides/how_to_write_a_good_job_description', data: { 'no-turbolink' => true }} How To Write A Good Job Description
				%p How do you make your project sound appealing and interesting?
				%a.button{:href => '/guides/how_to_write_a_good_job_description', data: { 'no-turbolink' => true }} Read Now
			.more
				%a{:href => '/guides'} More Folyo guides…

%section.testimonials.home-content
	.container
		.block
			.testimonial
				/ %h2 A testimonial from a Folyo user:
				%blockquote
					%p.big “Folyo has been an incredibly useful service, <strong>literally saving us days of work</strong>.”
					%p “We had spent several days looking for a great designer with a track record on Blackberry devices when we found Folyo. <strong>In two days we had a dozen offers and quotes from experienced designers</strong>.”
					%p “The biggest pain point in our search was finding a designer with experience who was available in our project's timeframe, and that's where Folyo stood out.”
				%cite
					Antoine Martin,
					%a.testimonial-logo{:href => 'http://www.alert.us/'}
						= image_tag 'logos/alertus.png', style: 'top: 4px'
			%hr
		.block
			%h2 Who else is using Folyo?
			%p Here are some of the companies who found a designer through Folyo:
		.clients
			.client
				%a{:href => 'http://www.learnupon.com/', :style => 'margin-top:50px;'}
					= image_tag 'logos/learnupon.png'
			.client
				%a{:href => 'http://grabaperch.com', :style => 'margin-top:6px; width:70%;'}
					= image_tag 'logos/perch.png'
			.client
				%a{:href => 'http://www.familyleaf.com/', :style => 'margin-top:5px;'}
					= image_tag 'logos/familyleaf.png'
			.client
				%a{:href => 'https://airbrake.io/'}
					= image_tag 'logos/airbrake.png', style: 'margin-top:47px;'
%section.try.home-content
	.container
		.block
			%a#pricing
			%h2 Try Folyo risk-free with our #{JobOffer::DEFAULT_DISCOUNT + 100}% money-back guarantee
			%p Posting a project on Folyo costs $#{JobOffer::PRICE}. If you can't find a designer, we'll refund you completely <em>and</em> give you a #{JobOffer::DEFAULT_DISCOUNT}% discount on next time!

		.block
			/ %h2 Get started now
			.cta
				%a.button.button-big{:href => "/sign_up/client"}
					%span.action Find A Designer Now
					%span.microcopy $#{JobOffer::PRICE} one-time fee

/ %section.budget.home-content
/ 	.container

/ 		.budget-block
/ 			%h3.budget-title 1. Pick A Service
/ 			.budget-services
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-logo.svg'
/ 					%span Logo Design
/ 				/ %a{:href => '#'}
/ 				/ 	= image_tag 'projects-identity.svg'
/ 				/ 	%span Identity Design
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-landing.svg'
/ 					%span Landing Page Design
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-website.svg'
/ 					%span Website design
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-webapp.svg'
/ 					%span Web App Design
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-mobileapp.svg'
/ 					%span Mobile App Design
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-illustration.svg'
/ 					%span Illustration
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-icon.svg'
/ 					%span Icon Design
/ 				%a{:href => '#'}
/ 					= image_tag 'projects-custom.svg'
/ 					%span Custom Project

/ 		.budget-block
/ 			%h3.budget-title 2. Estimate Your Budget
/ 			%h4 Landing Page
/ 			%form
/ 				%ul
/ 					%li Landing page wireframe
/ 					%li Main template mockup: 3 revisions
/ 					%li 1 content template (blog, FAQ, etc.)
/ 					%li 1 extra template (features, services, etc.)
/ 					%li Deliverables: static source files (PSD/Illustrator/Sketch/etc.)
/ 			%h4 Options
/ 			%p Coding
/ 			%p Experience
/ 			%h4 Total
/ 			%p Budget: $1000
/ 			%p Folyo fee: $99
/ 			%p Total: $1099



/ 		.budget-block
/ 			%h3.budget-title 3. Get Started
/ 			.cta
/ 				%a.button.button-big{:href => "/sign_up/client"}
/ 					%span.action Find A Designer
/ 					%span.microcopy $#{JobOffer::PRICE} one-time Folyo fee
