= content_for :title, "Job Offers"
= content_for :subnav do
  = render 'job_offers/designer/nav'

- if current_user.is_a?(Admin) || (current_user.is_a?(Designer) && current_user.accepted?)
  - if @job_offers.empty?
    %p.notice Sorry, there are no currently active job offers.
  - else
    %ul.offer-list
      - @job_offers.each do |job|
        %li
          = render 'job_offers/designer/job_offer', job: job

    = paginate @job_offers

- elsif current_user.is_a?(Designer) && current_user.pending?
  .notices
    .notice= raw("Your profile is currently being reviewed and <strong>you are number #{current_user.pending_rank} in row</strong>. You will get access to the job offers if you're accepted. Thanks for your patience!")
- elsif current_user.is_a?(Designer) && current_user.rejected?
  = render 'job_offers/designer/rejected'