= content_for :title, "Job Offers"
= content_for :subnav do
  = render 'job_offers/designer/nav'

- if current_user.is_a?(Admin) || (current_user.is_a?(Designer) && current_user.accepted?)
  - if @job_offers.empty?
    %p.notice Sorry, there are no currently active job offers.
  - else
    %ul.offer-list
      - @job_offers.each do |job|
        %li
          = render 'job_offers/designer/job_offer', job: job

    = paginate @job_offers

  = content_for :sidebar do
    %p.note New! Folyo now lets you #{link_to "tell the world that you're looking for a job", posts_path}.

- elsif current_user.pending?
  .notices
    .notice Your profile is currently being reviewed, you will get access to the job offers if you're accepted. Thanks for your patience!
- elsif current_user.rejected?
  %h4 You didn't make it :(
  %p Sorry but you weren't selected for Folyo this time. <a href="http://blog.folyo.me/so-you-didnt-make-it/">Here are a couple reasons</a> why that might be the case.