= content_for :title, @newsletter.subject
= content_for :back_path, admin_newsletters_path
= content_for :back_name, 'Newsletters'

= content_for :body_class, "with-subnav"
= content_for :subnav do
  = render '/admin/job_offers/job_offers_nav'

= content_for :sidebar do
  - if @newsletter.preview_url
    = link_to 'Preview email', @newsletter.preview_url, target: '_blank', class: 'button big-button preview'

= content_for :schedule_date_hint do
  %span Timezone does matter only when TimeWarp is not enabled. You can use expression such as <strong>"next monday at 8:30am"</strong>, see <a href="https://github.com/mojombo/chronic/" target="_blank">here</a> for more details.

= content_for :timewarp_hint do
  %span Deliver your campaign according to the recipient's timezone.

.newsletter

  = simple_form_for @newsletter, url: admin_newsletter_path(@newsletter) do |f|
    = f.input :subject
    = f.input :intro, as: :text, wrapper_html: {class: 'markdown'}

    %label Job offers
    %ul
      - @newsletter.job_offers.each do |o|
        %li
          %span= link_to o.title, offer_path(o)
          = link_to '(X)', offer_admin_newsletter_path(@newsletter, job_offer_id: o.id), method: :delete, class: 'delete', alt: 'Remove this offer from newsletter'

    - if @newsletter.can_send?
      .button-bar
        = f.submit "Save", class: "button big-button"
        = f.submit "Save and send test", class: "button", name: 'send-test'
        = f.submit "Save and send to list", class: "button", name: 'fire', confirm: "You are about to send this email to about #{Designer.accepted.count} designers. Still sure?"

    %hr

    = f.input :schedule_date, as: :string, hint: yield(:schedule_date_hint), input_html: { value: @newsletter.schedule_date.try(:strftime, "%Y-%m-%d %H:%M:%S %Z") }
    = f.input :timewarp, as: :boolean, hint: yield(:timewarp_hint)

    - if @newsletter.can_schedule?
      .button-bar
      = f.submit "Save", class: "button big-button"
      = f.submit "Schedule", class: "button", name: 'schedule', confirm: "You are about to schedule this email for sending to about #{Designer.accepted.count} designers. Still sure?"

  - unless @newsletter.sent?
    = link_to 'Delete newsletter', admin_newsletter_path(@newsletter), method: 'DELETE', confirm: 'Are you sure you want to delete your newsletter?', class: 'delete-newsletter'



