= content_for :title, @job_offer.title
= content_for :body_class, "no-sidebar offer-client"
- if session[:job_offer_index_path]
  = content_for :back_path, session[:job_offer_index_path]
  = content_for :back_name, 'Offers'
= content_for :subnav do
  = render 'job_offers/client/nav', job_offer: @job_offer

- if @job_offer.archived?
  = content_for :body_class, " offer-archived"

- if @designer_replies.empty?
  %p.note Sorry, you haven't received any replies yet
- else

  %ul.replies
    - @designer_replies.each do |r|
      %li.reply
        .reply-designer{class: r.designer.has_projects? ? '' : 'full' }
          - if r.designer.profile_picture.try(:processed?)
            = image_tag(r.designer.profile_picture.asset(:small), class: 'avatar reply-avatar')
          - else
            = image_tag('default-avatar.png', class: 'avatar reply-avatar')
          %p.reply-infos
            = link_to offer_reply_path(r.job_offer, r) do
              = r.designer.full_name
              %span.placeholder
            %span.reply-location= r.designer.location
          %p.reply-message= Sanitize.clean(r.message)
        - if r.designer.has_projects?
          .reply-work
            = render '/designers/featured_work', designer: r.designer, with_description: true
