= content_for :title, @designer.full_name
= content_for :subtitle, @designer.short_bio.truncate(70)
= content_for :avatar, @designer.profile_picture ? @designer.profile_picture.asset(:thumbnail) : image_path('default-avatar.png')
= content_for :body_class, "designer-profile"

- if @designer_reply
  = content_for :back_path, offer_replies_path(@job_offer, status: params[:status])
  = content_for :back_name, 'Replies'

= content_for :mainaction do
  = link_to 'Get in Touch', new_designer_message_path(@designer) , id: "get-in-touch", class: "button big-button fancybox-ajax"
  .reply-actions{class: class_for_reply(@designer_reply)}
    = link_to shortlist_offer_reply_path(@job_offer, @designer_reply), { class: 'shortlist button small-button', title: 'Shortlist this reply'} do
      = fa_icon 'check'
      %span Shortlisted

    = link_to hide_offer_reply_path(@job_offer, @designer_reply), {class: 'hide button small-button', title: 'Hide this reply'} do
      %span Hidden
      = fa_icon 'ban'

= content_for :prev_next do
  %div{ data: { 'no-turbolink' => true } }
  - if @previous_reply
    = link_to offer_reply_path(@job_offer, @previous_reply, status: params[:status]), title: "Previous: #{@previous_reply.designer.full_name}", class: 'prev has-tooltip' do
      = image_tag @previous_reply.designer.profile_picture ? @previous_reply.designer.profile_picture.asset(:thumbnail) : 'default-avatar.png', class: 'avatar'
      .placeholder
  - else
    = link_to '#', title: '', class: 'prev has-tooltip', style: 'display: none' do
      = image_tag 'default-avatar.png', class: 'avatar'
      .placeholder

  - if @next_reply
    = link_to offer_reply_path(@job_offer, @next_reply, status: params[:status]), title: "Next: #{@next_reply.designer.full_name}", class: 'next has-tooltip' do
      = image_tag @next_reply.designer.profile_picture ? @next_reply.designer.profile_picture.asset(:thumbnail) : 'default-avatar.png', class: 'avatar'
      .placeholder
  - else
    = link_to '#', title: '', class: 'next has-tooltip', style: 'display: none' do
      = image_tag 'default-avatar.png', class: 'avatar'
      .placeholder


= content_for :container_style, "width: #{@reply_count * 100}%; max-width: #{@reply_count * 100}%; left: #{-(@previous_replies.count * 100)}%;"

- @previous_replies.each_with_index do |reply, index|
  = render '/designer_replies/reply', designer: reply.designer, designer_reply: reply, width: "#{(100.0 / @reply_count)}%", left: "#{-index * 100}%", inner: (index == 0)

= render '/designer_replies/reply', designer: @designer, designer_reply: @designer_reply, width: "#{(100.0 / @reply_count)}%", left: "#{-@previous_replies.count * 100}%", inner: true

- @next_replies.each_with_index do |reply, index|
  = render '/designer_replies/reply', designer: reply.designer, designer_reply: reply, width: "#{(100.0 / @reply_count)}%", left: "#{-(index + 1 + @previous_replies.count) * 100}%", inner: (index == 0)