!!!
%html.wf-loading
  = render :partial => '/site/header'
  %body.no-js{class: yield(:body_class), 'data-class-name' => js_class_name}
    = render_site_nav
    #page
      - if yield(:header).blank?
        %section.sub-header#page-header
          .container
            .main-header
              %h1.title
                = yield(:title)
              - unless yield(:subtitle).blank?
                %h2.subtitle
                  = yield(:subtitle)
              - unless yield(:mainaction).blank?
                .main-action
                  =yield(:mainaction)
            - unless yield(:subnav).blank?
              = yield(:subnav)
      - else
        = yield(:header)
      #page-content
        .container
          .main
            = render :partial => '/site/flash', :locals => {:flash => flash}
            = content_for?(:content) ? yield(:content) : yield
          - unless yield(:sidebar).blank?
            .sidebar
              = content_for(:sidebar)
      = render :partial => '/site/footer'
