!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type',     content: 'text/html; charset=utf-8' }
    %meta{'http-equiv' => 'Content-Language', content: 'en-us' }
    %meta{name: 'viewport',                   content: 'width=device-width' }

    = stylesheet_link_tag 'mailer'

  %body
    .header
      .container
        .inner
          %table
            %tr
              %td.logo
                = link_to root_path do
                  = image_tag mail_asset_url('logo-grey.png'), alt: 'Folyo', height: 30, width: 67
              %td.view-online
                - if content_for?(:view_online)
                  = link_to 'View this email in your browser', yield(:view_online)

    .content
      .container
        .inner
          = yield

    .footer
      .container
        .inner
          = link_to root_url do
            &copy; #{Time.now.year} Folyo
