- if params[:offer_id]
  = content_for :title, "Your Job Offer"
  = render 'job_offers/client/wizard', active: :signup, offer: JobOffer.find(params[:offer_id]), signup: 'true'
- else
  = content_for :title, "My Account"
  = content_for :subnav do
    - if current_user.is_a? Designer
      = render :partial => '/designers/account_nav'
    - if current_user.is_a? Client
      = render :partial => '/clients/account_nav'

#flash
  = devise_error_messages!

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :patch }) do |f|
  = render 'edit_form', f: f
  = f.submit "Update Profile", class: 'button big-button'
