= content_for :title, "Sign Up"

= content_for :error_messages do
	= devise_error_messages!

= render :partial => "/site/wysiwyg"

= content_for :profile_type_hint do
	<strong>Public:</strong> anybody can see your profile (and <a href="http://twitter.com/YoFolyo">we'll tweet</a> that you signed up).</br><strong>Private:</strong> only registered clients can see your profile.</br><strong>Hidden:</strong> nobody can see your profile (unless you reply to them directly)

%p.note
	Folyo aims to feature only the best designers. You're welcome to apply no matter your experience, just know that you may not be accepted on the first try.
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "new-designer-form"}) do |f|
	.section
		%h3 Your Account
		= hidden_field_tag :initial_role, 'designer'
		= f.input :full_name
		= f.input :email
		= f.input :password
		= f.input :referrer, :label => "How did you hear about Folyo?", :hint => "Tell us if you've been referred by one of Folyo's designers, or heard about it on a specific website."
		= f.input :referrer_designer, :as => :hidden
	.section
		%h3 About You
		= f.input :profile_type, as: :radio, collection: Designer.profile_types, label_method: sym_label_method, :hint => yield(:profile_type_hint)
		=# f.input :profile_type, :as => :radio, :label => 'Profile Type', :hint => yield(:profile_type_hint)
		= f.input :short_bio, :label => 'Short Bio (Tagline)', :hint => "Short descriptive phrase (i.e. \"I design functional and beautiful user interfaces\")"
		=# f.input :long_bio, :as => :text, :label => 'Biography', :input_html => {:class => "wysiwyg"}
		= f.input :location, :label => 'City', :hint => "If ambiguous, add state or country"
	.section
		%h3 Your Work
		= f.input :portfolio_url
	.section
		%h3 Social Media
		= f.input :dribbble_username, :required => false, :label => "Dribbble Username", :hint => "Having a Dribbble profile to showcase your work raises your chances of being accepted"
		#bad_dribbble_username.ajax-error.hidden
			Can't find anybody with this Dribbble username… Better double check!
		= f.input :behance_username, :required => false, :label => "Behance Username"
		= f.input :featured_shot_url, :as => :hidden
		= f.input :twitter_username, :required => false, :hint => "Enter your Twitter username if you want a link to your profile to be tweeted out when you're accepted (public profiles only)"
		= f.submit "Apply to join Folyo", :class => "button big-button"

= content_for :sidebar do
	.notices
		.notice
			%p <strong>Do not apply</strong> if you do not have a <strong>portfolio</strong> or showcase of your work. You will not be accepted.

:javascript
	$(document).ready(function(){
		if(ref_user_cookie=$.cookie('ref_user')){
			$("#user_referrer_designer").each(function(){
					$(this).val(ref_user_cookie);
			});
		}

		$("#user_dribbble_username").change(function(){
			var username=$(this).val();
			var parentLi=$(this).parent();
			var $errorDiv=$("#bad_dribbble_username");
			$("#user_featured_shot_url").val('');
			if(username!=""){
				$.jsonp({
					url: "http://api.dribbble.com/players/"+username+"/shots?callback=?",
					success: function(data, textStatus) {
						parentLi.removeClass("loading");
						if(!$errorDiv.hasClass("hidden")){
							$errorDiv.fadeOut("fast").addClass("hidden");
						}
						if(data.shots[0]){
							$("#user_featured_shot_url").val(data.shots[0].image_url);
						}
					},
					error: function(){
						$errorDiv.addClass("hidden").fadeIn("fast").removeClass("hidden");
					}
				});
			}
		});

		$("#user_location").change(function(){
			var address=$(this).val();
			$(this).parent().addClass("loading");
			$errorDiv=$("#ambiguous_location");
			get_coordinates(
				address,
				function(results){
					//success
					$("#designer_coordinates").val(results[0].geometry.location.Ma+","+results[0].geometry.location.Na);
					hideError($errorDiv);
				},
				function(){
					//error
					showError($errorDiv);
				}
			);
		});

	});
