:javascript
	$(document).ready(function(){
		if(ref_user_cookie=$.cookie('ref_user')){
			$("#user_referrer_designer").each(function(){
					$(this).val(ref_user_cookie);
			});
		}
	});

= content_for :title, "Sign Up"

= content_for :body_class, ""


= content_for :error_messages do
	= devise_error_messages!

= render :partial => "/site/wysiwyg"

=content_for :company_hint do
	%span.title Things to mention:
	%span <strong>About you</strong>: what's your story? where are you based?
	%span <strong>What you do</strong>: clearly explain what you do in simple terms.
	%span <strong>Why you do it</strong>: tell us the motivations behind your project.
	%span <strong>Your users</strong>: who uses your service?
	%span.bottom For more ideas, check out our guide on <a target="_blank" href="http://folyo.me/guides/how_to_write_a_good_job_description">How to Write a Good Job Description</a>.

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "new-client-form"}) do |f|
	.section
		%h3 Your Account
		= hidden_field_tag :initial_role, 'client'
		= f.input :full_name
		= f.input :email
		= f.input :password, :as => :password
		= f.input :referrer, :label => "How did you hear about Folyo?", :hint => "Tell us if you've been referred by one of Folyo's designers, or heard about it on a specific website."
		= f.input :referrer_designer, :as => :hidden
	.section
		%h3 Your Company
		= f.input :company_name
		= f.input :company_url
		= f.input :company_description, :hint => yield(:company_hint), :input_html => {:class => "wysiwyg"}
		= f.input :location

	= f.submit "Sign Up", :class => "button big-button"