= content_for :title, "Sign Up"

= content_for :error_messages do
	= devise_error_messages!

= content_for :profile_type_hint do
	<strong>Public:</strong> anybody can see your profile (and <a href="http://twitter.com/YoFolyo">we'll tweet</a> that you signed up).</br><strong>Private:</strong> only registered clients can see your profile.</br><strong>Hidden:</strong> nobody can see your profile (unless you reply to them directly)

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => "new-designer-form"}) do |f|
	.section
		%h3 Your Account
		= f.input :initial_role, :as => :hidden, :input_html => {:value => "designer"}
		= f.input :full_name
		= f.input :email
		= f.input :password
		= f.input :referrer, :label => "How did you hear about Folyo?", :hint => "Tell us if you've been referred by one of Folyo's designers, or heard about it on a specific website."
		= f.input :referrer_designer, :as => :hidden
	.section
		%h3 About You
		= f.input :profile_type, as: :radio_buttons, collection: Designer.profile_types, label_method: sym_label_method, :hint => yield(:profile_type_hint)
		=# f.input :profile_type, :as => :radio_buttons, :label => 'Profile Type', :hint => yield(:profile_type_hint)
		= f.input :short_bio, :label => 'Short Bio (Tagline)', :hint => "Short descriptive phrase (i.e. \"I design functional and beautiful user interfaces\")"
		= f.input :long_bio, :as => :text, :label => 'Biography', :wrapper_html => {:class => textarea_type(resource)}
		= f.input :location, :label => 'City', :hint => "If ambiguous, add state or country"
	.section
		%h3 Your Work
		= f.input :portfolio_url
	.section
		%h3 Social Media
		= f.input :dribbble_username, :required => false, :label => "Dribbble Username", :hint => "Having a Dribbble profile to showcase your work raises your chances of being accepted"
		= f.input :behance_username, :required => false, :label => "Behance Username"
		= f.input :featured_shot_url, :as => :hidden
		= f.input :twitter_username, :required => false, :hint => "Enter your Twitter username if you want a link to your profile to be tweeted out when you're accepted (public profiles only)"
		= f.submit "Apply to join Folyo", :class => "button big-button"

/ = content_for :sidebar do
/ 	%p Folyo aims to feature only the best designers. You're welcome to apply no matter your experience, just know that you may not be accepted on the first try.
